@page
@model Razor_Pages_Examples.Pages.Users.UsersModel

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>