@page
@model Razor_Pages_Examples.Pages.Users.UsersModel

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Users";
}

<a class="btn btn-primary" href="~/Users/SimpleUser">Create New User</a>
<div class="mt-3">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>